@page
@model RegisterModel

<form asp-page="/account/register" method="post">
    <label>Email:</label>
    <input asp-for="Email" />

    <label>Password:</label>
    <input asp-for="Passwords.First" />
    <input asp-for="Passwords.Second" />

    <button>Register</button>
</form>
