# These directories are created by msbuild.
/bin/
/obj/

# This file is created by the method 'AddDeveloperSigningCredential'.
/tempkey.rsa

# This file is created by the method 'AddSqlite'.
/authentication.db
