@page
@model FirstUseModel

<form asp-page="/account/firstuse" method="post">
    <label>Email:</label>
    <input asp-for="Email" /><br>

    <label>Password:</label>
    <input asp-for="Password" /><br>

    <button>Register Administrator</button>
</form>
