@page
@model ForgotPasswordModel

<form asp-page="/account/forgot-password" method="post">
    <div class="has-padding-2">
        <h1>Forgot Password</h1>
        <p>Sometimes we forget our password but thats okay, we can help you out. Don't have an account? <a asp-page="Register">Sign up instead.</a></p>
    </div>
    <partial name="_ValidationSummary" />
    <div class="widget">
        @if (Model.Sent == false)
        {
            <div class="widget--body">
                <div class="has-padding-1">
                    <label asp-for="Email" class="form-element">E-Mail Address</label>
                    <input asp-for="Email" type="email" class="form-element" id="email">
                </div>
            </div>
            <div class="widget--footer">
                <button type="submit" class="button is-filled">Send email</button>
            </div>
        }
        else
        {
            <div class="widget--body">
                <p>Email has been sent to the provided email.</p>
            </div>
        }
    </div>
</form>
