@page
@model ResetPasswordModel

    <form asp-page="/account/reset-password" method="post">
        <div class="has-padding-2">
            <h1>Reset your password</h1>
        </div>
        <input asp-for="Token" type="hidden" />
        <input asp-for="ReturnUrl" type="hidden" />
        <input asp-for="Email" type="hidden" />

        <partial name="_ValidationSummary" />

        <div class="widget">
            <div class="widget--body">
                <div class="has-padding-1">
                    <div class="has-padding-1">
                        <label asp-for="Password" class="form-element">Password</label>
                        <input asp-for="Password" class="form-element" type="password">
                        <p class="form-caption">Choose a strong one. At least 8 characters are recommended. Don't choose common words or names.</p>
                    </div>

                    <div class="has-padding-1">
                        <label asp-for="ConfirmPassword" class="form-element">Repeat your password</label>
                        <input asp-for="ConfirmPassword" class="form-element" type="password">
                        <p class="form-caption">We want to make sure, that you don't accidentally misspell your password.</p>
                    </div>
                </div>
                <div class="widget--footer">
                    <button type="submit" class="button is-filled">Reset password</button>
                </div>
            </div>
        </div>
    </form>
