@page

<h2>This is The Index! I am Cephalon Sark, your unbiased host!</h2>

@if (User?.Identity.IsAuthenticated ?? false)
{
    <p>You are logged in as <b>@User.Identity.Name</b>, would you like to <a asp-page="/account/logout">logout</a>?</p>
}
else
{
    <p>You are not logged in, would you like to <a asp-page="/account/login">login</a>?</p>
}
