{
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error",
        "max-len": [
            "error",
            {
                "code": 120,
                "ignoreComments": true
            }
        ],
        "no-undef": ["off"]
    },
    "parserOptions": {
        "ecmaVersion": 10,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true
    }
}
