@page

<h2>This is the Client!</h2>

@if (User?.Identity.IsAuthenticated ?? false)
{
    <p>You are logged in as <b>@User.FindFirst("name").Value</b>, would you like to <a asp-page="/logout">logout</a>?</p>
}
else
{
    <p>You are not logged in, would you like to <a asp-page="/login">login</a>?</p>
}
