<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/co-design/css/codidact.css" />
</head>
<body>
    <main class="container has-padding-4">
        @RenderBody()
    </main>

    <footer class="has-padding-4 has-border-top-style-solid has-border-top-width-1 has-border-color-tertiary-050">
        <div class="container">
            &copy; 2020 - Codidact
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true" async></script>
</body>
</html>